/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    background-color: #212F3C;
}

/* Navigation Bar Styles */
nav {
    background: black;
    opacity: 0.7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav h2 {
    color: white;
    font-size: 20px;
    padding: 10px;
    font-family: 'La Belle Aurore', cursive;
}

.links {
    margin-right: 50px;
}

.links li {
    display: inline-block;
}

.links li a {
    color: white;
    padding: 20px;
    display: inline-block;
}

.links li a:hover {
    background: #34495E;
}

/* Blog Section */
.blog.single {
    background: #212F3C;
    padding: 20px 50px;
}

.blog-heading span {
    font-size: 1.4rem;
    color: #AF7AC5;
    font-weight: bold;
    text-shadow: 0.5px 0.5px 0px rgba(0, 0, 0, 0.322);
    display: block;
    text-align: center;
}

.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.blog-box {
    width: 100%;
    max-width: 800px;
    background-color: white;
    border: 1px solid #E5E8E8;
    margin: 20px;
}

.blog-img img {
    width: 100%;
    object-fit: cover;
}

.blog-text {
    padding: 30px;
}

.blog-text span {
    color: #AF7AC5;
    font-size: 0.9rem;
    display: block;
    margin-bottom: 10px;
}

.blog-text p {
    margin: 20px 0;
    color: #000000;
    font-size: 1rem;
}

/* Comments Section */
.comments-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
}

.comments-section h3 {
    font-size: 1.5rem;
    color: #AF7AC5;
    margin-bottom: 10px;
}

.comment, .reply-comment {
    background-color: #000000;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.comment p, .reply-comment p {
    color: #000000;
    font-size: 1rem;
    margin-bottom: 5px;
}

.comment span, .reply-comment span {
    color: #000000;
    font-size: 0.9rem;
}

.comment .reply, .reply-comment .reply {
    color: #3498db;
    font-size: 0.9rem;
    cursor: pointer;
}

.comment .reply:hover, .reply-comment .reply:hover {
    text-decoration: underline;
}

.replies {
    margin-left: 20px;
    margin-top: 10px;
}

.form-group {
    margin-top: 10px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #34495e;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
}

textarea:focus {
    outline: none;
    border-color: #3498db;
}

button {
    padding: 10px 15px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.comment .label{
    color: #ff0000;
}