body {
    background-color: #212F3C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjusted to make sure it covers the full viewport height */
    font-weight: bold;
}

* {
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}

form {
    width: 500px; /* Increased width for the form */
    border: 2px solid rgb(177, 177, 177);
    padding: 40px; /* Increased padding for more space inside the form */
    background: white;
    position: relative; /* Added to position error messages correctly */
}

h2 {
    text-align: center;
    margin-bottom: 10px; /* Adjusted margins for more space */
    margin-top: -2px;
    font-family: 'La Belle Aurore', 'cursive';
    font-size: 50px;
}

.alert {
    margin-bottom: 20px; /* Add space below the alert */
}

input {
    display: block;
    border: 2px solid;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 1px;
    margin-bottom: 20px; /* Increased margin for better spacing */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #212F3C;
    opacity: 1; /* Firefox */
}

button {
    float: right;
    background: #212F3C;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}


form .alert {
    position: absolute; /* Positioned relative to the form */
    top: 10px; /* Adjust top position as needed */
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px); /* Adjust width to fit within the form padding */
    box-sizing: border-box; /* Include padding in width calculation */
}
